body {
background-color: #f6f3ff;
font-family: 'Poppins', Arial, sans-serif;
color: #333;
margin: 20px; 
}

/* Judul */
h1 {
color: #6a5acd;
text-align: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
color: #7b68b2;
text-align: left;
}

p {
font-size: 18px;
text-align: left;
line-height: 1.5;
}

/* Navbar (biar sama seperti event) */
nav{
background:#8e7cc3;
padding:15px;
text-align:center;
margin-bottom:20px;
}

nav a{
color:white;
text-decoration:none;
margin:0 15px;
font-weight:bold;
}

nav a:hover{
color:#e6dcff;
}

/* Daftar Produk */
.daftar-produk  {
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:20px;
}

.produk {
background-color:#ffffff;
border:1px solid #e6e0ff;
padding:15px;
text-align:center;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.08);
}

.produk img {
width:150px;
height:auto;
border-radius:5px;
margin-bottom:10px;
}

.produk h2{
font-size:20px;
color:#6a5acd;
}

.produk h3 {
font-size:16px;
color:#444;
}

.harga{
font-weight:bold;
color:#7b68b2;
}

.deskripsi {
font-size:14px;
color:#555;
}

/* Artikel Bedah Buku */
.artikel{ 
max-width:700px;
margin:auto;
padding:20px;
background-color:#ffffff;
border-radius:10px;
font-family:'Georgia', serif;
line-height:1.8;
box-shadow:0 4px 12px rgba(0,0,0,0.08);
}

.artikel .penulis {
font-style: italic;
color:#666;
margin-bottom:20px;
}

.artikel .sampul{
width:180px;
float:right;
margin:0 0 20px 20px;
border:1px solid #ccc;
box-shadow:2px 2px 6px rgba(0,0,0,0.1)
}

.artikel blockquote{
font-style:italic;
padding-left:20px;
margin:20px 0;
border-left:4px solid #8e7cc3;
color:#444;
background-color:#f1edff;
}

/* Tombol */
.btn-kembali {
display:inline-block;
margin-top:30px;
padding:10px 16px;
background-color:#8e7cc3;
color:white;
text-decoration:none;
border-radius:6px;
}

.btn-kembali:hover{
background-color:#6f5cb3;
}

/* Form */
.formulir{
max-width:600px;
margin:auto;
padding:20px;
background-color:#ffffff;
border-radius:10px;
box-shadow:0 4px 12px rgba(0,0,0,0.08);
}

form label {
display:block;
margin-top:10px;
font-weight:bold;
}

form input, form select, form textarea {
width:100%;
padding:8px;
margin-top:5px;
margin-bottom:15px;
border-radius:5px;
border:1px solid #ddd;
}

form button {
background-color:#8e7cc3;
color:white;
padding:10px 15px;
border:none;
border-radius:6px;
cursor:pointer;
}

form button:hover{
background-color:#6f5cb3;
}

/* Header Gambar */
.header img {
width:100%;
height:300px;
object-fit:cover;
border-radius:10px;
}
